<div class="row">
	<div class="col-md-6">
		<h1>extramuros (fork)</h1>
	</div>
	<div class="col-md-6 text-right">
		<div class="form-inline">
			<div class="form-group" style="margin-top: 20px;">
				<label>Password:</label>
				<input type="password" name="password" id="password" class="form-control">
			</div>
		</div>
	</div>
</div>

<div>
	<p><a style="cursor: pointer;" ng-click="showOptions = !showOptions">Show/Hide Options</a></p>
	<div collapse="!showOptions" class="well">
		<p><input type="checkbox" ng-model="main.showEvals"> Show Evals</p>
	</div>
</div>

<div gridster="gridsterOpts">

	<div gridster-item="box" ng-repeat="box in main.boxes" ng-controller="BoxController" id="{{box.highlightId}}"
		 class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-6">
					<span>{{box.name}}</span>
				</div>
				<div class="col-md-6 text-right">
					<span class="text-danger" ng-show="errorText">{{errorText}}</span>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<p ng-attr-class="{{ main.showEvals && 'col-md-10' || 'col-md-12'}}">
				<textarea
						rows="4"
						class="form-control highlightable"
						id="{{box.id}}"
						style="font-family: monospace;height: 100%"
						ng-keydown="handleKeydown($event)"
						ng-keyup="handleKeyup($event)"
						ng-model="box.value"></textarea>
				</p>

				<p ng-attr-class="{{ main.showEvals && 'col-md-2' || ''}}">
					<button class="btn btn-default" style="width:100%" ng-click="postSignal()" ng-show="main.showEvals">Eval</button>
				</p>
			</div>
		</div>

	</div>

</div>