<h1>main</h1>

<h3>{{ main.message }}</h3>

<div class="form-group">
	<label>Password:</label>
	<input type="password" name="password" id="password" class="form-control">
</div>

<p>
	<button class="btn btn-primary" ng-click="main.addBox()">Add Box</button>
</p>

<div gridster="gridsterOpts">

	<div gridster-item="box" ng-repeat="box in main.boxes" ng-controller="BoxController" class="panel panel-default">
		<div class="panel-heading">{{box.id}}</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-10"><textarea rows="4" class="form-control" id="{{box.id}}"
												 style="font-family: monospace"
												 ng-model="box.value"></textarea>
				</div>

				<div class="col-md-2">
					<button class="btn btn-default" ng-click="postSignal()">Eval</button>
				</div>
			</div>
		</div>

	</div>

</div>